{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{%  url 'author-detail' object.author.id %}">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
          </div>

          <div class="form-group ">
            {% if object.author.id|add:"0" == user.id|add:"0" %}
                <button class="btn btn-outline-info"><a href="{% url 'post-update' object.id %}">Update</a></button>
                <button class="btn btn-outline-info"><a href="{% url 'post-delete' object.id %}">Delete</a></button>
            {% endif %}
           </div>
        </article>
{% endblock content %}